<h1>Parametres</h1>		

<%= form_for @salon, :url => prive_options_parametre_path(@salon), :method => :put do |f| %>
<%= render "/shared/error_messages", :target => @salon %>
<div>
	<%= f.label :name, "Nom du salon", :class => "required" %>
	<%= f.text_field :name %>
</div>
<div>
	<%= f.label :subdomain, "Sous domaine", :class => "required" %>
	<%= f.text_field :subdomain %>
</div>
<div>
	<%= f.label :password, "Mot de passe", :class => "" %>
	<%= f.password_field :password %>
</div>
<div>
	<%= f.label :password_confirmation, "Confirmation du mot de passe", :class => "" %>
	<%= f.password_field :password_confirmation %>
</div>
<div>
	<%= f.submit "Enregistrer", class: 'btn' %>
</div>
<% end %>