<div class='well'>
	<%= link_to ("&laquo; Liste clients").html_safe, clients_path, :class => 'btn btn-info' %>&nbsp;&nbsp;
	<%= link_to ("<i class='icon-pencil icon-white'></i>&nbsp;Modifier").html_safe, edit_client_path(@client), :class => 'btn btn-info' %>&nbsp;&nbsp;
	<%= link_to ("<i class='icon-user icon-white'></i>&nbsp;Nouveau client").html_safe, new_client_path, :class => 'btn btn-primary' %>
	<div style="float:right">
		<%= link_to ("<i class='icon-trash icon-white'></i>&nbsp;Supprimer").html_safe, client_path(@client), :method => :delete, :class => 'btn btn-danger' %>
	</div>
</div>

<h1><%= @client.name %></h1>

<%= client_infos(@client) %>
<%= client_birthdate(@client) %>

<h3>Notes</h3>
<% if @client.comment.present? %>
<%= markdown(@client.comment) %>
<% else %>
<p>Aucune note</p>
<% end %>