<div id="toplinks">
	<%= link_to ("&laquo; Liste clients").html_safe, clients_path %> - 
	<%= link_to "Modifier", edit_client_path(@client) %> - 
	<%= link_to "Nouveau client", new_client_path %>
</div>

<h1><%= @client.name %></h1>

<%= client_infos(@client) %>

<h3>Notes</h3>
<% if @client.comment.present? %>
<%= markdown(@client.comment) %>
<% else %>
<p>Aucune note</p>
<% end %>