<div id="toplinks">
	<%= link_to "Liste clients", clients_path %> - 
	<%= link_to "modifier", edit_client_path(@client) %>
</div>

<h1><%= @client.name %></h1>

<%= client_infos(@client) %>

<h3>Notes</h3>
<%= markdown(@client.comment) %>