<h1>Facebook</h1>

<% if @fb_user %>
<h4>Compte Facebook lié</h4>
<div class="facebook-user-box">
	<div class="picture"><%= image_tag @fb_user.picture %></div>
	<div class="infos">
		<span class='name'><%= @fb_user.name %></span><br/>
		<span class='logout'><%= link_to "déconnecter", prive_options_facebook_path(@fb_user), :method => :delete %></span>
	</div>
</div>

<% if @pages %>
<div class="clear">&nbsp;</div>
<h4>Choisir la page Facebook à lier</h4>
<p>Vous pouvez également lier une page Facebook afin de poster vos messages automatiquement sur le mur de cette page.</p>
<% if @pages.size > 0 %>
<div class="facebook-pages">
	<% for page in @pages %>
	<div class="page"><a href="<%= select_page_prive_options_facebook_path(:page_id => page.identifier, :page_access_token => page.access_token ) %>"><div class="p">
		<div class="picture"><%= image_tag page.picture %></div>
		<div class="infos">
			<span class='name'><%= page.name %></span><br/>
		</div>
	</div></a></div>
	<% end %>
</div>
<% else %>
<p>Vous n'avez aucune page facebook. <a href="http://www.facebook.com/pages/create.php">Créer une page Facebook</a></p>
<% end %>
<% end %>

<% if @fb_user.page_name.present? %>
<div class="clear">&nbsp;</div>
<h4>Page Facebook liée</h4>
<div class="facebook-page">
	<div class="picture"><%= image_tag @fb_user.page_picture %></div>
	<div class="infos">
		<span class='name'><%= @fb_user.page_name %></span><br/>
		<span class='logout'><%= link_to "ne plus utiliser cette page", unselect_page_prive_options_facebook_path %></span>
	</div>
</div>
<% end %>

<% else %>
<h4>Compte Facebook</h4>
<p>Lier votre compte Facebook afin de poster vos messages automatiquement sur votre mur.</p>
<fb:login-button length="long" onlogin="location.href = '<%= auth_prive_options_facebook_path(:salon_id => @salon.id) %>'" scope="<%= SalonVar::FACEBOOK_SCOPE %>">Se connecter avec Facebook</fb:login-button>

<% end %>
