<%= render "/shared/error_messages", :target => @facture %>
<%= hidden_field_tag :client_id, @client.id %>
<fieldset>
  <span id="item_description_source" data-autocomplete-source="<%= @salon.unique_items %>"></span>
  <%= f.text_field :payed_at, :class => 'datepicker input-small', :placeholder => "Date" %>
  <%= f.select :mean_of_payment, Facture::MEANS_OF_PAYMENT.map{|mp| [t("factures.mean_of_payment.#{mp}"), mp]} %>
</fieldset>

<%= f.fields_for :items do |builder| -%>
  <%= render "item_fields", f: builder %>
<% end -%>
<p><%= link_to_add_fields "Ajouter un service", f, :items %></p>
<br/>
