<div class="container">
	<div class="header">
		<h1><%= @salon.name %></h1>
	</div>	
	<div class="row">
		<div class="span8">
			<%= public_info(@salon) %>
			<%= public_photos(@salon.photos) %>						
			<%= public_messages(@salon.messages.published) %>			
			<%= public_tarifs(@salon.tarifs) %>
		</div>

		<div class="span4">
			<%= public_contact(@salon) %>
			
			<%= public_facebook_likebox(@salon) %>
			
		</div>
	</div>
</div>