<h1>Liste de clients</h1>

<%= render "birthday" %>

<%= render "search" %>

<p>
	<%= link_to ("<i class='icon-user icon-white'></i>&nbsp;Nouveau client").html_safe, new_prive_client_path, :class => 'btn btn-primary' %>
</p>

<%= will_paginate @clients %>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Email</th>
			<th>Tél</th>
		</tr>
	</thead>
	<% if @clients.size > 0 %>
	<% for client in @clients %>
	<tr>
		<td><%= link_to client.name, prive_client_path(client) %></td>
		<td><%= client.email %></td>
		<td><%= client.phone %></td>
	</tr>
	<% end %>
	<% else %>
	<tr>
		<td colspan="3">Aucun clients</td>
	</tr>
	<% end %>
</table>

<%= will_paginate @clients %>
