<div>
	<%= f.label :title, "Titre", :class => 'required' %>
	<%= f.text_field :title, :class => 'input-xxlarge' %>
</div>
<div>
	<%= f.label :html, "HTML" %>
	<%= f.text_area :html, :rows => "15", :class => 'input-xxlarge' %>
</div>
<div>
	<%= f.label :css, "CSS" %>
	<%= f.text_area :css, :rows => "15", :class => 'input-xxlarge' %>
</div