<h1>Modifier le thème</h1>

<%= form_for [:prive, :site, @theme], :html => { :class => 'theme_form' } do |f| %>
	<%= render "/shared/error_messages", :target => @theme %>	
	<%= render 'form', :f => f %>	
	<div>
		<%= f.submit 'Sauver', :class => 'btn' %>
		<%= link_to 'revenir à la liste des thèmes', prive_site_themes_path %>
	</div>
<% end %>

<script type='text/javascript' charset='utf-8' src='/ace-0.2.0/src/ace.js'></script>
<script type='text/javascript' charset='utf-8' src='/ace-0.2.0/src/theme-textmate.js'></script>
<script type='text/javascript' charset='utf-8' src='/ace-0.2.0/src/mode-html.js' ></script>
<script type='text/javascript' charset='utf-8' src='/ace-0.2.0/src/mode-css.js' ></script>