<h1>Thèmes</h1>

<p>
	<%= link_to 'Nouveau thème', new_prive_site_theme_path, :class => 'btn' %>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Titre</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tr class="theme-default">
		<td>Thème par défaut</td>
		<td><%= "utilisé" if Theme.current(@salon.id).nil? %></td>
		<td>
			<%= link_to 'utiliser', use_default_prive_site_themes_path %>
		</td>
	</tr>
	<% for theme in @themes %>
	<tr class="theme-<%= theme.id %>">
		<td><%= theme.title %></td>
		<td><%= "utilisé" if theme.state %></td>
		<td>
			<%= link_to 'utiliser', use_prive_site_theme_path(theme) %>
			<%= link_to 'modifier', edit_prive_site_theme_path(theme) %>
			<%= link_to 'supprimer', prive_site_theme_path(theme), :method => :delete %>
		</td>
	</tr>
	<% end %>	
</table>
