<h1>Nouveau thème</h1>

<%= form_for [:prive, :site, @theme], :html => { :class => 'theme_form' } do |f| %>
	<%= render "/shared/error_messages", :target => @theme %>	
	<%= render 'form', :f => f %>	
	<div>
		<%= f.submit 'Ajouter', :class => 'btn' %>
		<%= link_to 'annuler', prive_site_themes_path %>
	</div>
<% end %>