<!DOCTYPE html>
<html>
<head>
  <title>Salons de coiffure</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= get_controller(params[:controller]) %>">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href="/admin/salons"><%= "Admin" %></a>
        <div class="nav-collapse">
					<%= admin_navbar_left_links(params[:controller]) %>
        </div><!--/.menu-collapse -->
	    </div>
	  </div>
	</div>
	<div class="container-fluid">
		
		<%= render "shared/flashbox" %>
		
		<%= yield %>
	</div>
</body>
</html>
