<!DOCTYPE html>
<html>
<head>
  <title>Barbier</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller] %>">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href="/prive"><%= @salon.try(:name) || "Salon de coiffure" %></a>
        <div class="nav-collapse">
					<%= render_menu %>
        </div><!--/.menu-collapse -->
				<ul class="nav pull-right">
					<li><a href='/'>Site</a></li>
				</ul>
	    </div>
	  </div>
	</div>
	<div class="container-fluid">
		
		<% if notice %>
		<div class="alert alert-success"><%= notice %></div>
		<% elsif alert %>
		<div class="alert alert-error"><%= alert %></div>
		<% end %>
		
		<%= yield %>
	</div>
</body>
</html>
