<!DOCTYPE html>
<html>
<head>
  <title><%= @salon.name %></title>
	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body id="<%= get_controller(params[:controller]) %>">
  <%= render "/shared/navbar" %>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<%= boutique_nav %>
			</div>
			<div class="span10">
				<%= render "shared/flashbox" %>
				<%= yield %>
			</div>
		</div><!-- end of row fluid -->
	</div>
</body>
</html>
