<!DOCTYPE html>
<html>
<head>
  <title><%= @salon.name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= get_controller(params[:controller]) %>">
	<div class="container">
		<div id="login"><div id="wrapper">
			<%= render "shared/flashbox" %>
			<h4><%= @salon.name %></h4>
			<div id="login-box" class="well">
				<%= yield %>
			</div>
		</div></div>
	</div>
</body>
</html>