<!DOCTYPE html>
<html>
<head>
  <title><%= @salon.name %></title>
	<meta property="fb:app_id" content="<%= SalonVar::FACEBOOK_CLIENT_ID %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= get_controller(params[:controller]) %>">
	<div id="fb-root"></div>
  <%= render "/shared/navbar" %>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<%= options_nav %>
			</div>
			<div class="span10">
				<%= render "shared/flashbox" %>
				<%= yield %>
			</div>
		</div><!-- end of row fluid -->
	</div>
	
	<script>
		window.fbAsyncInit = function() {
	  	FB.init({
	    	appId      : '<%= SalonVar::FACEBOOK_CLIENT_ID %>',
	     	status     : true, 
	     	cookie     : true,
		    xfbml      : true,
		    oauth      : true,
	   	});
		
	
	 	};
	 	(function(d){
	  	var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	    js = d.createElement('script'); js.id = id; js.async = true;
	    js.src = "//connect.facebook.net/en_US/all.js";
	    d.getElementsByTagName('head')[0].appendChild(js);
	  }(document));
	</script>
	
</body>
</html>
