<!DOCTYPE html>
<html>
<head>
  <title><%= @salon.name %></title>
  <%= stylesheet_link_tag    "public", :media => "all" %>
  <%= javascript_include_tag "public" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller] %>">
	<div class="container">
		
		<div class="header">
			<h1><%= @salon.name %></h1>
		</div>
		
		<%= render "shared/flashbox" %>
		
		<div class="row">
			<div class="span8">
				<%= yield %>
			</div>

			<div class="span4">
				<%= public_info(@salon) %>
			</div>
		</div>
		
		
	</div>
</body>
</html>