<!DOCTYPE html>
<html>
<head>
  <title>Barbier</title>
  <%= stylesheet_link_tag    "public", :media => "all" %>
  <%= javascript_include_tag "public" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller] %>">
	<div class="container">
		
		<div class="header">
			<h1><%= @salon.name %></h1>
		</div>
		
		<% if notice %>
		<div class="alert alert-success"><%= notice %></div>
		<% elsif alert %>
		<div class="alert alert-error"><%= alert %></div>
		<% end %>
		<div class="row">
			<div class="span8">
				<%= yield %>
			</div>

			<div class="span4">
				<div class="info well">Info</div>
			</div>
		</div>
		
		
	</div>
</body>
</html>