<!DOCTYPE html>
<html>
<head>
  <title><%= @salon.name %></title>
	
  <%= stylesheet_link_tag    "application", :media => "all" %>

	<script type='text/javascript' charset='utf-8' src='/ace-0.2.0/src/ace.js'></script>
	<script type='text/javascript' charset='utf-8' src='/ace-0.2.0/src/theme-textmate.js'></script>
	<script type='text/javascript' charset='utf-8' src='/ace-0.2.0/src/mode-html.js' ></script>
	<script type='text/javascript' charset='utf-8' src='/ace-0.2.0/src/mode-css.js' ></script>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller] %>">
	<%= salon_navbar(@salon) %>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<%= site_nav %>
			</div>
			<div class="span9">
				<%= render "shared/flashbox" %>
				<%= yield %>
			</div>
		</div><!-- end of row fluid -->
	</div>
</body>
</html>